.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0 0;
  line-height: 1;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.25rem;
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #0c1217;
  color: #64dfdf;
  border-radius: 10px;
  transition: color 0.2s ease, border-color 0.2s ease;
  background-color: #0c1217AA;
  width: 700px
}

@media (max-width: 750px) {
  .card {
    width: 100%;
  }
}


.card:hover,
.card:focus,
.card:active {
  color: #549c77;
  border-color: #549c77;
  background-color: #0c1217;
  text-decoration: none;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.text_accent {
  background: linear-gradient(120deg, #64dfdf, #549c77);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: #64dfdf;
}

.text_accent:hover {
  background: #8775ec;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_accent_subtle {
  background: linear-gradient(120deg, #64dfdf, #2be2e2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: #64dfdf;
}

.text_accent_pink {
  background: linear-gradient(120deg, #d41d6d, #8775ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: #64dfdf;
}

.siteContainer {
  padding: 1rem;
  width: 100%;
  max-width: 1024px;
  text-align: left;
  border-radius: 10px;
  color: white;
  border: 1px solid #0c1217;
  background-color: #0c1217AA;
}

.siteContainer h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.input {
  background-color: #081a4d;
  color: white;
  width: 100%;
  margin: .5rem 0;
  border-width: 0;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 1.2rem;
  min-width: 15rem;
  padding: .8rem;
  padding-left: 1rem;
  transition: 0.3s;
}

.input:hover {
  background-color: #1a1b6e;
}

.input:active {
  background-color: #0a0a29;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 1rem;
  background-color: #22084d;
}

.checkbox:checked {
  background-color: #64dfdf;
}

.flexBox {
  width: 400px;
  flex: 1;
  flex-basis: 48%;
  max-width: 97%;
  padding: 1rem;
  margin: .33rem;
  border-radius: 7px;
  background-color: #0c1217;
  border: 1px #0f151a;
}

.money {
  color: #00CC88;
}

.noMargin {
  margin: 0;
}

.smallHeader {
  font-size: 1.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toMargin {
  text-align: left;
}

.alert {
  background-color: #FF000011;
  padding: .2rem 1rem 1rem;
  border-radius: 8px;
}